<GeneralContainer>
    <div class="product item-details-page">
        <Product::Image />
        <Product::Details />
    </div>
    <h5 class="mt-5">Description</h5>
    <ul>
        <li>Organic</li>
        <li>Non-GMO</li>
        <li>Gluten Free</li>
        <li>Vegetarian</li>
        <li>Low Sodium</li>
        <li>Low Fat</li>
        <li>Low Cholesterol</li>
    </ul>
</GeneralContainer>